# ignore all the backup files created by editors
*~
*.so
*.o
zzz_Comparison2\.R

# things to ignore in directory ANTsR/src
src/Makevars
src/*.o
src/*.gcno
src/*.gcda
src/*.o-*
src/*.o.macbook*
src/*.so
src/symbols.rds
# things to ignore in ANTsR/src/ANTsR
src/itks/
src/ants/
src/itkb/
src/antb/
src/itki/
inst/doc
vignettes/*pdf
vignettes/*html
obsolete/*
.Rhistory
R/.Rhistory
.DS_Store
.Rproj.user
inst/include/*
inst/include/ANTS.cxx
inst/include/ANTSConformalMapping.cxx
inst/include/ANTSConformalMapping.h
inst/include/ANTSIntegrateVectorField.cxx
inst/include/ANTSIntegrateVectorField.h
inst/include/ANTSIntegrateVelocityField.cxx
inst/include/ANTSIntegrateVelocityField.h
inst/include/ANTSJacobian.cxx
inst/include/ANTSJacobian.h
inst/include/ANTSMakeMD5SigFileAndMoveData.py
inst/include/ANTSUseDeformationFieldToGetAffineTransform.cxx
inst/include/ANTSUseDeformationFieldToGetAffineTransform.h
inst/include/ANTSUseLandmarkImagesToGetAffineTransform.cxx
inst/include/ANTSUseLandmarkImagesToGetAffineTransform.h
inst/include/ANTSUseLandmarkImagesToGetBSplineDisplacementField.cxx
inst/include/ANTSUseLandmarkImagesToGetBSplineDisplacementField.h
inst/include/ANTS_.h
inst/include/ANTsVersion.cxx
inst/include/ANTsVersion.h
inst/include/Atropos.cxx
inst/include/Atropos.h
inst/include/AverageAffineTransform.cxx
inst/include/AverageAffineTransform.h
inst/include/AverageAffineTransformNoRigid.cxx
inst/include/AverageAffineTransformNoRigid.h
inst/include/AverageImages.cxx
inst/include/AverageImages.h
inst/include/AverageTensorImages.cxx
inst/include/AverageTensorImages.h
inst/include/BinaryImageToMeshFilter.h
inst/include/CMakeLists.txt
inst/include/CheckTopology.cxx
inst/include/CheckTopology.h
inst/include/ClusterImageStatistics.cxx
inst/include/ClusterImageStatistics.h
inst/include/ComposeMultiTransform.cxx
inst/include/ComposeMultiTransform.h
inst/include/CompositeTransformUtil.cxx
inst/include/CompositeTransformUtil.h
inst/include/ComputeSimilarityMetric.cxx
inst/include/ComputeSimilarityMetric.h
inst/include/ConformalMapping.cxx
inst/include/ConformalMapping.h
inst/include/ConvertImage.cxx
inst/include/ConvertImage.h
inst/include/ConvertImagePixelType.cxx
inst/include/ConvertImagePixelType.h
inst/include/ConvertInputImagePixelTypeToFloat.cxx
inst/include/ConvertInputImagePixelTypeToFloat.h
inst/include/ConvertScalarImageToRGB.cxx
inst/include/ConvertScalarImageToRGB.h
inst/include/ConvertToJpg.cxx
inst/include/ConvertToJpg.h
inst/include/ConvertTransformFile.cxx
inst/include/ConvertTransformFile.h
inst/include/ConvertVectorFieldToVTK.cxx
inst/include/ConvertVectorFieldToVTK.h
inst/include/CopyImageHeaderInformation.cxx
inst/include/CopyImageHeaderInformation.h
inst/include/CreateDTICohort.cxx
inst/include/CreateDTICohort.h
inst/include/CreateDisplacementField.cxx
inst/include/CreateDisplacementField.h
inst/include/CreateImage.cxx
inst/include/CreateImage.h
inst/include/CreateJacobianDeterminantImage.cxx
inst/include/CreateJacobianDeterminantImage.h
inst/include/CreateTiledMosaic.cxx
inst/include/CreateTiledMosaic.h
inst/include/CreateWarpedGridImage.cxx
inst/include/CreateWarpedGridImage.h
inst/include/DeNrrd.cxx
inst/include/DeNrrd.h
inst/include/DenoiseImage.cxx
inst/include/DenoiseImage.h
inst/include/ExtractRegionFromImage.cxx
inst/include/ExtractRegionFromImage.h
inst/include/ExtractRegionFromImageByMask.cxx
inst/include/ExtractRegionFromImageByMask.h
inst/include/ExtractSliceFromImage.cxx
inst/include/ExtractSliceFromImage.h
inst/include/FitBSplineToPoints.cxx
inst/include/FitBSplineToPoints.h
inst/include/GetConnectedComponentsFeatureImages.cxx
inst/include/GetConnectedComponentsFeatureImages.h
inst/include/GetMeshAndTopology.cxx
inst/include/GetMeshAndTopology.h
inst/include/ImageCompare.cxx
inst/include/ImageCompare.h
inst/include/ImageIntensityStatistics.cxx
inst/include/ImageIntensityStatistics.h
inst/include/ImageMath.cxx
inst/include/ImageMath.h
inst/include/ImageMathHelper.cxx
inst/include/ImageMathHelper2D.cxx
inst/include/ImageMathHelper3D.cxx
inst/include/ImageMathHelper4D.cxx
inst/include/ImageMath_Templates.hxx
inst/include/ImageSetStatistics.cxx
inst/include/ImageSetStatistics.h
inst/include/KellyKapowski.cxx
inst/include/KellyKapowski.h
inst/include/KellySlater.cxx
inst/include/KellySlater.h
inst/include/LabelClustersUniquely.cxx
inst/include/LabelClustersUniquely.h
inst/include/LabelGeometryMeasures.cxx
inst/include/LabelGeometryMeasures.h
inst/include/LabelOverlapMeasures.cxx
inst/include/LabelOverlapMeasures.h
inst/include/LaplacianThickness.cxx
inst/include/LaplacianThickness.h
inst/include/LesionFilling.cxx
inst/include/LesionFilling.h
inst/include/MeasureImageSimilarity.cxx
inst/include/MeasureImageSimilarity.h
inst/include/MeasureMinMaxMean.cxx
inst/include/MeasureMinMaxMean.h
inst/include/MemoryTest.cxx
inst/include/MemoryTest.h
inst/include/MultiplyImages.cxx
inst/include/MultiplyImages.h
inst/include/N3BiasFieldCorrection.cxx
inst/include/N3BiasFieldCorrection.h
inst/include/N4BiasFieldCorrection.cxx
inst/include/N4BiasFieldCorrection.h
inst/include/NonLocalSuperResolution.cxx
inst/include/NonLocalSuperResolution.h
inst/include/PasteImageIntoImage.cxx
inst/include/PasteImageIntoImage.h
inst/include/PermuteFlipImageOrientationAxes.cxx
inst/include/PermuteFlipImageOrientationAxes.h
inst/include/PrintHeader.cxx
inst/include/PrintHeader.h
inst/include/ReadWriteData.cxx
inst/include/ReadWriteData.h
inst/include/RebaseTensorImage.cxx
inst/include/RebaseTensorImage.h
inst/include/ReorientTensorImage.cxx
inst/include/ReorientTensorImage.h
inst/include/ResampleImage.cxx
inst/include/ResampleImage.h
inst/include/ResampleImageBySpacing.cxx
inst/include/ResampleImageBySpacing.h
inst/include/ResetDirection.cxx
inst/include/ResetDirection.h
inst/include/SetDirectionByMatrix.cxx
inst/include/SetDirectionByMatrix.h
inst/include/SetOrigin.cxx
inst/include/SetOrigin.h
inst/include/SetSpacing.cxx
inst/include/SetSpacing.h
inst/include/SetupForDevelopment.sh
inst/include/SmoothDisplacementField.cxx
inst/include/SmoothDisplacementField.h
inst/include/SmoothImage.cxx
inst/include/SmoothImage.h
inst/include/StackSlices.cxx
inst/include/StackSlices.h
inst/include/StudentsTestOnImages.cxx
inst/include/StudentsTestOnImages.h
inst/include/SuperResolution.cxx
inst/include/SuperResolution.h
inst/include/SurfaceBasedSmoothing.cxx
inst/include/SurfaceBasedSmoothing.h
inst/include/SurfaceCurvature.cxx
inst/include/SurfaceCurvature.h
inst/include/TensorDerivedImage.cxx
inst/include/TensorDerivedImage.h
inst/include/TensorFunctions.h
inst/include/TextureCooccurrenceFeatures.cxx
inst/include/TextureCooccurrenceFeatures.h
inst/include/TextureRunLengthFeatures.cxx
inst/include/TextureRunLengthFeatures.h
inst/include/ThresholdImage.cxx
inst/include/ThresholdImage.h
inst/include/TileImages.cxx
inst/include/TileImages.h
inst/include/TimeSCCAN.cxx
inst/include/TimeSCCAN.h
inst/include/WarpImageMultiTransform.cxx
inst/include/WarpImageMultiTransform.h
inst/include/WarpTensorImageMultiTransform.cxx
inst/include/WarpTensorImageMultiTransform.h
inst/include/WarpTimeSeriesImageMultiTransform.cxx
inst/include/WarpTimeSeriesImageMultiTransform.h
inst/include/WarpVTKPolyDataMultiTransform.cxx
inst/include/WarpVTKPolyDataMultiTransform.h
inst/include/ants.h
inst/include/antsAI.cxx
inst/include/antsAI.h
inst/include/antsAffineInitializer.cxx
inst/include/antsAffineInitializer.h
inst/include/antsAlignOrigin.cxx
inst/include/antsAlignOrigin.h
inst/include/antsAllocImage.h
inst/include/antsApplyTransforms.cxx
inst/include/antsApplyTransforms.h
inst/include/antsApplyTransformsToPoints.cxx
inst/include/antsApplyTransformsToPoints.h
inst/include/antsCommandLineOption.cxx
inst/include/antsCommandLineOption.h
inst/include/antsCommandLineParser.cxx
inst/include/antsCommandLineParser.h
inst/include/antsDisplacementAndVelocityFieldRegistrationCommandIterationUpdate.h
inst/include/antsImageRead.h
inst/include/antsImageWrite.h
inst/include/antsJointFusion.cxx
inst/include/antsJointFusion.h
inst/include/antsJointTensorFusion.cxx
inst/include/antsJointTensorFusion.h
inst/include/antsLandmarkBasedTransformInitializer.cxx
inst/include/antsLandmarkBasedTransformInitializer.h
inst/include/antsMatrixUtilities.h
inst/include/antsMatrixUtilities.hxx
inst/include/antsMotionCorr.cxx
inst/include/antsMotionCorr.h
inst/include/antsMotionCorrDiffusionDirection.cxx
inst/include/antsMotionCorrDiffusionDirection.h
inst/include/antsMotionCorrStats.cxx
inst/include/antsMotionCorrStats.h
inst/include/antsRegistration.cxx
inst/include/antsRegistration.h
inst/include/antsRegistration2DDouble.cxx
inst/include/antsRegistration2DFloat.cxx
inst/include/antsRegistration3DDouble.cxx
inst/include/antsRegistration3DFloat.cxx
inst/include/antsRegistration4DDouble.cxx
inst/include/antsRegistration4DFloat.cxx
inst/include/antsRegistrationCommandIterationUpdate.h
inst/include/antsRegistrationOptimizerCommandIterationUpdate.h
inst/include/antsRegistrationTemplateHeader.cxx
inst/include/antsRegistrationTemplateHeader.h
inst/include/antsSCCANObject.h
inst/include/antsSCCANObject.hxx
inst/include/antsSliceRegularizedRegistration.cxx
inst/include/antsSliceRegularizedRegistration.h
inst/include/antsSurf.cxx
inst/include/antsSurf.h
inst/include/antsTransformInfo.cxx
inst/include/antsTransformInfo.h
inst/include/antsUtilities.cxx
inst/include/antsUtilities.h
inst/include/antsUtilitiesTesting.cxx
inst/include/antsUtilitiesTesting.h
inst/include/antsVol.cxx
inst/include/antsVol.h
inst/include/ants_moco.h
inst/include/compareTwoTransforms.cxx
inst/include/compareTwoTransforms.h
inst/include/iMath.cxx
inst/include/iMath.h
inst/include/iMathFunctions.h
inst/include/iMathFunctions.hxx
inst/include/itkAdaptiveNonLocalMeansDenoisingImageFilter.h
inst/include/itkAdaptiveNonLocalMeansDenoisingImageFilter.hxx
inst/include/itkAlternatingValueDifferenceImageFilter.h
inst/include/itkAlternatingValueDifferenceImageFilter.hxx
inst/include/itkAlternatingValueSimpleSubtractionImageFilter.h
inst/include/itkAlternatingValueSimpleSubtractionImageFilter.hxx
inst/include/itkAverageAffineTransformFunction.h
inst/include/itkAverageAffineTransformFunction.hxx
inst/include/itkAverageAffineTransformNoRigidFunction.h
inst/include/itkAverageAffineTransformNoRigidFunction.hxx
inst/include/itkAverageOverDimensionImageFilter.h
inst/include/itkAverageOverDimensionImageFilter.hxx
inst/include/itkCommandLineParserTest.cxx
inst/include/itkCommandLineParserTest.h
inst/include/itkComposeDiffeomorphismsImageFilter.h
inst/include/itkComposeDiffeomorphismsImageFilter.hxx
inst/include/itkDecomposeTensorFunction.h
inst/include/itkDecomposeTensorFunction.hxx
inst/include/itkDecomposeTensorFunction2.h
inst/include/itkDecomposeTensorFunction2.hxx
inst/include/itkDeformationFieldGradientTensorImageFilter.h
inst/include/itkDeformationFieldGradientTensorImageFilter.hxx
inst/include/itkDeterminantTensorImageFilter.h
inst/include/itkDeterminantTensorImageFilter.hxx
inst/include/itkDiReCTImageFilter.h
inst/include/itkDiReCTImageFilter.hxx
inst/include/itkDisplacementFieldFromMultiTransformFilter.h
inst/include/itkExpTensorImageFilter.h
inst/include/itkExpTensorImageFilter.hxx
inst/include/itkGeneralToBSplineDisplacementFieldFilter.h
inst/include/itkGeneralToBSplineDisplacementFieldFilter.hxx
inst/include/itkGeometricJacobianDeterminantImageFilter.h
inst/include/itkGeometricJacobianDeterminantImageFilter.hxx
inst/include/itkImageIntensityAndGradientToPointSetFilter.h
inst/include/itkImageIntensityAndGradientToPointSetFilter.hxx
inst/include/itkLabelOverlapMeasuresImageFilter.h
inst/include/itkLabelOverlapMeasuresImageFilter.hxx
inst/include/itkLabelPerimeterEstimationCalculator.h
inst/include/itkLabelPerimeterEstimationCalculator.hxx
inst/include/itkLabeledPointSetFileReader.h
inst/include/itkLabeledPointSetFileReader.hxx
inst/include/itkLabeledPointSetFileWriter.h
inst/include/itkLabeledPointSetFileWriter.hxx
inst/include/itkLogTensorImageFilter.h
inst/include/itkLogTensorImageFilter.hxx
inst/include/itkManifoldParzenWindowsPointSetFunction.h
inst/include/itkManifoldParzenWindowsPointSetFunction.hxx
inst/include/itkMultiScaleLaplacianBlobDetectorImageFilter.h
inst/include/itkMultiScaleLaplacianBlobDetectorImageFilter.hxx
inst/include/itkMultiplyByConstantVectorImageFilter.h
inst/include/itkN3MRIBiasFieldCorrectionImageFilter.h
inst/include/itkN3MRIBiasFieldCorrectionImageFilter.hxx
inst/include/itkNeighborhoodFirstOrderStatisticsImageFilter.h
inst/include/itkNonLocalPatchBasedImageFilter.h
inst/include/itkNonLocalPatchBasedImageFilter.hxx
inst/include/itkNonLocalSuperresolutionImageFilter.h
inst/include/itkNonLocalSuperresolutionImageFilter.hxx
inst/include/itkOptimalSharpeningImageFilter.h
inst/include/itkOptimalSharpeningImageFilter.hxx
inst/include/itkPointSetFunction.h
inst/include/itkPointSetFunction.hxx
inst/include/itkPreservationOfPrincipalDirectionTensorReorientationImageFilter.cxx
inst/include/itkPreservationOfPrincipalDirectionTensorReorientationImageFilter.h
inst/include/itkPseudoContinuousArterialSpinLabeledCerebralBloodFlowImageFilter.h
inst/include/itkPseudoContinuousArterialSpinLabeledCerebralBloodFlowImageFilter.hxx
inst/include/itkPulsedArterialSpinLabeledCerebralBloodFlowImageFilter.h
inst/include/itkPulsedArterialSpinLabeledCerebralBloodFlowImageFilter.hxx
inst/include/itkRotationMatrixFromVectors.h
inst/include/itkSliceTimingCorrectionImageFilter.h
inst/include/itkSliceTimingCorrectionImageFilter.hxx
inst/include/itkSplitAlternatingTimeSeriesImageFilter.h
inst/include/itkSplitAlternatingTimeSeriesImageFilter.hxx
inst/include/itkSurfaceCurvatureBase.h
inst/include/itkSurfaceCurvatureBase.hxx
inst/include/itkSurfaceImageCurvature.h
inst/include/itkSurfaceImageCurvature.hxx
inst/include/itkSurfaceMeshCurvature.h
inst/include/itkTestMain.h
inst/include/itkTextureHistogram.h
inst/include/itkVarianceImageFilter.h
inst/include/itkVarianceImageFilter.hxx
inst/include/itkVectorFieldGradientImageFunction.h
inst/include/itkVectorFieldGradientImageFunction.hxx
inst/include/itkVectorGaussianInterpolateImageFunction.h
inst/include/itkVectorImageFileReader.h
inst/include/itkVectorImageFileReader.hxx
inst/include/itkVectorImageFileWriter.h
inst/include/itkVectorImageFileWriter.hxx
inst/include/itkWarpImageMultiTransformFilter.h
inst/include/itkWarpImageMultiTransformFilter.hxx
inst/include/itkWarpImageWAffineFilter.h
inst/include/itkWarpImageWAffineFilter.hxx
inst/include/itkWarpTensorImageMultiTransformFilter.h
inst/include/itkWarpTensorImageMultiTransformFilter.hxx
inst/include/itkantsReadWriteTransform.h
inst/include/itkantsRegistrationHelper.h
inst/include/itkantsRegistrationHelper.hxx
inst/include/make_interpolator_snip.tmpl
inst/include/sccan.cxx
inst/include/sccan.h
inst/include/simpleSynRegistration.cxx
inst/include/simpleSynRegistration.h
inst/include/template_for_executables.cxx.in
inst/include/TestSuite/*
